

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
 font-weight: 700px;
  font-style: normal; 
  color: #4E47FF;
  font-size: 35px;
  
  
  
  
}
 nav{
  display: flex; align-items: center;
  justify-content: space-between;

  margin: 50px 150px;
 }
 .btn{ background-color: #4E47FF; color: white;
  border: none; border-radius: 5px; 
  font-weight: bold; font-size: 18px; width: 132px;height: 48px;

 }
  .cool-dark{

    font-size: 65px; font-weight: 600px ;}

  .banner-text{
  
    justify-items: center; text-align: center;
  }
  .btn2{
    background-color: #4E47FF; color: white;
  border: none; border-radius: 5px; 
  font-weight: bold; font-size: 18px; width: 132px;height: 48px; }
  .btn div{ 
    display: flex;
     justify-content:center; 
     align-items: center;
     height: 100vh;

  }
   .bg{
    background-image: url(/Assets/Hero-bg.png);
   }

   /*main part styling */
    .main-part{
      display: flex;
    height: 328px;
      margin:105px 141px ;
      justify-content: space-between;
      align-items: center;
      align-content: center; margin-right: 0px;
      padding-right: 150px;


    }
  .first-part{
    width: 517px; height: 49; align-items: center; justify-content: center;
    
  }

.up-head{
  font-size: 45px;
  font-weight: bold;
}

  .sub-head{
    color:rgba(37,36, 50, 0.5) ;
  }
  .launch-live{
    background-color: #4E47FF; color: white;
  border: none; border-radius: 5px; 
  font-weight: bold; font-size: 18px; width: 229px;
  height: 48px;
  }
   img{
    border-radius: 20px; width: 403px; height: 328px;
   }
   /*main page styling */
    .main-page{
      margin: 116px 141px;
       height: 306px;
      background-color: rgba(78, 71, 255, 0.1);
      border-radius: 24px; padding-right: 100px;
    }
 .page-text{
  justify-items: center; text-align: center;
  font-size: 38px; font-weight: bold; margin-top: 50px;

 }
 .number-parent{
  display: flex;
  justify-content: space-between;
  text-align:center;
 margin: 80px 142px 50px 142px;
 }
 .head-num{
  font-size: 80px; font-weight: bold; color: #4E47FF;
  margin-top: 0%; margin-bottom: 0%; 
 }
  .sub-num{
    font-size: 20px; font-weight:300 ; 
    color:rgba(0, 0, 0, 0.5) ;
    margin-top: 0%;
  }

  /*.card-container {
    display: flex; 

  }
  .card-section h2{
    text-align: center; height: 49px; font-size: 42px; font-weight: bold; 
  }
  .card-container img{
    width:15px ; height: 20px; 
  }
.head-review{
  font-size: 20px; font-weight: 400px;
}
  .sub-review{
    font: 16px; font-weight: 400; text-align:left;
  }
  .full-container{
     width: 300px; height: 243px;  display: flex; justify-content: space-between;  background-color: aliceblue;
    }

   .reviewer img{
    width: 40px;height: 40px; 
   } 
    .reviewer{ align-items: center ;  
    }

  .card-container{}*/
  
   
   .inside-focus img{ display: block; width: 840px; height: 360px; margin-top: 20px; 

   }
  .focus{ display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    text-align: center; background-color: #FFFFFF;
    border: 1px solid rgb(212, 205, 205); border-radius: 10px; box-shadow:4px 4px 10px black ;
  } 
  .ready-text{
    font-size: 50px; 
    font-weight: bold; 
  }
  .temp-text{
    color: rgba(0, 0, 0, 0.5);
  }
  .second-last{
    display: flex; justify-content: center; align-items: center; justify-content: space-between;  ;
    height: 632px; text-align: center;  margin:92px 150px ; /*box-shadow:14px 14px 20px black ;  */border-radius: 10px;
  }
  .input-styles{
    display: block; text-align: center; justify-content: center; 
    border-right: 50px; border: none; box-shadow:10px 4px 10px  ; color: rgba(0, 0, 0, 0.5);width: 229px;
    height: 48px; border-radius: 5px;}

  .getintouch{
    font-size: 50px; text-align: center ; justify-items: center; align-items: center;  margin: 0 auto;
  }
  
  .inputs{ column-span: 2px ; 
  
  }
  
  .main{
    text-align: center; color: #4E47FF;
  }
  .sub-footer{
    color: #8987A1;  width: 531px ; height: 48;  margin: 0 auto; margin-bottom: 20px;
  } 
 .link {
  justify-content: space-between; margin-right: 20px;
 }
  a{ text-decoration: none;  
  
 }
 .link-footer{margin: 1px,20px; color: #8987A1;

 }